---
layout: default
title: Gallery
body_classes: page-gallery
---

{% include heading.html heading=page.heading %}

<main>
    <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Gallery</h1>
    <hr>
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery" aria-modal="true" role="dialog">
        <div class="slides" aria-live="polite"></div>
        <h3 class="title"></h3>
        <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a>
        <a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a>
        <a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
        <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow" aria-keyshortcuts="Space" aria-pressed="false" role="button"></a>
        <ol class="indicator"></ol>
    </div>

    <div id="links" class="container grid md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 mx-auto">
        {% for item in site.data.gallery %}
        <a href="{{ item.src | relative_url }}" title="{{item.title}}">
            <img loading="lazy" height="250px" weight="250px" class="rounded" src="{{ item.src | relative_url }}" alt="{{ item.title }} " />
        </a>
        {{item.link}}
        {% endfor %}
    </div>
    <script src="{{ '/assets/blueimp-gallery/js/blueimp-gallery.min.js' | relative_url }}"></script>
    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event
            var target = event.target || event.srcElement
            var link = target.src ? target.parentNode : target
            var options = {
                container: '#blueimp-gallery',
                index: link,
                event: event,
            }
            var links = this.getElementsByTagName('a')
            blueimp.Gallery(links, options)
        }
    </script>
</main>