---
layout: default
---

<main class="">
  <div id="blueimp-gallery-carousel" style="background-color: white" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls py-2" aria-label="image carousel">
    <div class="slides" aria-live="off"></div>
    <h3 class="title"></h3>
    <a class="prev" aria-controls="blueimp-gallery-carousel" aria-label="previous slide"></a>
    <a class="next" aria-controls="blueimp-gallery-carousel" aria-label="next slide"></a>
    <a class="play-pause" aria-controls="blueimp-gallery-carousel" aria-label="play slideshow" aria-pressed="true" role="button"></a>
    <ol class="indicator"></ol>
  </div>

  <div id="links" class="hidden">
    {% for item in site.data.carousel %}
    <a href="https://github.com/Nathan13888/GeniusHour/raw/master/{{ item.src }}" title="{{item.title}} ">
      <img loading="lazy" src="https://github.com/Nathan13888/GeniusHour/raw/master/{{ item.src }}" alt="{{ item.title }} " />
    </a>
    {{item.link}}
    {% endfor %}
  </div>

  <hr>

  <body class=" bg-blue-800 h-250">
    <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-2 m-5 mb-10">
      {% for post in site.posts %}
      {% include summary.html post=post %}
      {% endfor %}
    </div>
  </body>

  <script src="{{ '/assets/blueimp-gallery/js/blueimp-gallery.min.js' | relative_url }}"></script>
  <script>
    var gallery = blueimp.Gallery([
      {
        title: 'Hand-knitted Hat Experiment and Explanation',
        type: 'text/html',
        href: 'https://www.youtube.com/watch?v=VKyVxNapFOY',
        youtube: 'VKyVxNapFOY',
        poster: 'https://img.youtube.com/vi/VKyVxNapFOY/maxresdefault.jpg',
        preload: 'auto',
      },
      {
        title: 'Hat Knitting Process',
        type: 'text/html',
        href: 'https://www.youtube.com/watch?v=7xaW4bBOjN0',
        youtube: '7xaW4bBOjN0',
        poster: 'https://img.youtube.com/vi/7xaW4bBOjN0/maxresdefault.jpg',
        preload: 'auto',
      },
    ], {
      container: '#blueimp-gallery-carousel',
      carousel: true,
      // carouselle
      hidePageScrollbars: false,
      toggleControlsOnEnter: false,
      toggleSlideshowOnSpace: true,
      enableKeyboardNavigation: true,
      closeOnEscape: true,
      closeOnSlideClick: false,
      closeOnSwipeUpOrDown: false,
      closeOnHashChange: false,
      disableScroll: false,
      startSlideshow: true,
      // youtube
      youTubeVideoIdProperty: 'youtube',
      // https://developers.google.com/youtube/player_parameters
      youTubePlayerVars: undefined,
      // Require a click on the native YouTube player for the initial playback:
      youTubeClickToPlay: true,
    })
    gallery.add(document.getElementById('links').getElementsByTagName('a'))
    gallery.play(2000)
  </script>
  <script>
    document.getElementById('links').onclick = function (event) {
      event = event || window.event
      var target = event.target || event.srcElement
      var link = target.src ? target.parentNode : target
      var options = {
        index: link,
        event: event,
      }
      var links = this.getElementsByTagName('a')
      blueimp.Gallery(links, options)
    }
  </script>
</main>